[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs

.DS_Store
Thumbs.db

sysinfo.txt

Assets/AddressableAssetsData/*/*.bin*

Packages/packages-lock.json